md-nav-ink-bar {
    display: none;
}

#header {
    background-color: #fff;
    height: 61px;
    min-height: 61px;
    border-bottom: 1px solid rgba(0,0,0,0.14)
}

.story__list-wrapper {
    border-right: 1px solid rgba(0,0,0,0.14);
    background: #fff;
    position: relative;
}

md-nav-bar {
    background-color: #fff;

    .md-nav-bar {
        border: none;
    }

}

.md-button.md-icon-button.button__responsive {
    color: rgba(0,0,0,0.54);
    
    &.active {
        color: rgb(68,138,255);
    }

}

.md-button.md-icon-button.button__split-view {
    color: rgba(0,0,0,0.54);

    &.active {
        color: rgb(68,138,255);
    }

}

.split__active {

    view, model {
        border-left: 1px solid rgba(0, 0, 0, 0.14);
    }

}

.button__open-sidebar {

    color: rgba(0,0,0,0.54);

    &.hidden {
        display: none;
    }

}
